<div id="edit-room-<%= @chat_room.id %>">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"><%= @chat_room.name %></h1>
		</div>
	</div>

	<%= simple_form_for @chat_room, url: chat_room_path(@chat_room), remote: true, method: :patch do |f| %>
		<% if @join == true %>
	  		<%= f.input :try_password, label: "Enter password" %>
		<% else %>
			<%= f.input :name, label: "Change Name" %>
			<%= f.input :password, label: "Change Password" %>
		<% end %>

		<%= f.button :submit, class: 'btn-primary' %>
	<% end %>
</div>

<script>
	var roomId = <%= @chat_room.id %>;
	var join = <%= @join %>;

	$("#edit_chat_room_" + roomId).on("ajax:success", function(e, data, status, xhr) {
		var check = $(xhr.responseText).find("#room-name")[0];
		if (join == true && check != null) {
			addRoom(xhr.responseText, "join");
		} else {
			chatControls("edit", roomId);
		}
	});
</script>