<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Guild Overview</h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-6'><!-- Guild -->
		<h3><strong>Guild Info</strong></h3><%= link to "edit", edit_guild_path(@guild) %>
		<h4><%= @guild.name %><%= image_tag @guild.avatar_url %></h4>
		<p><strong>Guild Owner:</strong> <%= @guild.user.username %></p>
		<p><strong>Reputation:</strong> <%= @guild.spent_rep %> / <%= @guild.total_rep %></p>
		<p><strong>Currency:</strong> <%= @guild.money %></p>
	</div><!-- /Guild -->
</div>

<div class='row'>
	<div class='col-lg-4'><!-- Guild Halls -->
		<h3><strong>Guild Halls</strong></h3>
		<% @guild.guild_halls.each do |hall| %>
			<h4><%= hall.name %></h4>
			<p><strong>Location:</strong> <%= hall.location.name %></p>
			<p><strong>Size:</strong> <%= hall.rooms.sum(&:size) %> / <%= hall.size %></p>
			<p><strong>Units:</strong> <%= hall.units.length %> / <%= hall.unit_limit %></p>
			<p><%= link_to "View Hall", guild_hall_path(hall), method: :get %> | 
			<%= link_to "Sell Hall", release_guild_hall_path(hall) %> | 
			<%= link_to "Destroy Hall", guild_hall_path(hall), method: :delete %></p>
			<hr>
		<% end %>
		<p><%= link_to "View Available Halls", guild_halls_path, method: :get %> | 
		<%= link_to "Create New Hall", new_guild_hall_path, method: :get %></p>
	</div><!-- /Guild Halls -->

	<div class='col-lg-4'><!-- Units -->
		<h3><strong>Units</strong></h3>
		<% @guild.guild_halls.each do |hall| %>
			<% hall.units.each do |unit| %>
				<h4><%= unit.name %></h4>
				<p><strong>XP:</strong> <%= unit.spent_xp %> / <%= unit.total_xp %>
				 | <strong>HP:</strong> <%= unit.current_hp %> / <%= unit.max_hp %>
				 | <strong>SP:</strong> <%= unit.current_sp %> / <%= unit.max_sp %></p>
				<p><strong>Location:</strong> <%= unit.guild_hall.name %> - <%= unit.guild_hall.location.name %></p>
				<p><strong>Activity:</strong> <%= unit.activity.name %></p>
				<p><%= link_to "View Unit", unit_path(unit), method: :get %> | 
				<%= link_to "Release Unit", release_unit_path(unit), method: :get %> | 
				<%= link_to "Retire Unit", unit_path(unit), method: :delete %></p>
				<hr>
			<% end %>
		<% end %>
		<p><%= link_to "View Available Units", units_path, method: :get %> | 
		<%= link_to "Create New Unit", new_unit_path, method: :get %></p>
	</div><!-- /Units -->

	<div class='col-lg-4'><!-- Guild Abilities -->
		<h3><strong>Guild Abilities</strong></h3>
		<% @guild.guild_abilities.each do |ability| %>
			<h4><%= ability.name %></h4>
			<p><strong>Descrpition:</strong> <%= truncate(ability.description, length: 160) %></p>
			<p><%= link_to "View Ability", guild_ability_path(ability), method: :get %> | <%= link_to "Release Ability", release_guild_ability_path(ability), method: :get %></p>
			<hr>
		<% end %>
		<p><%= link_to "View Abilities", guild_abilities_path, method: :get %></p>
	</div><!-- /Guild Abilities -->
</div>
