<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Guild Halls List</h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-4'><!-- Guild Halls -->
		<h3><strong>Guild Halls</strong></h3>
		<% @halls.each do |hall| %>
			<h4><%= hall.name %></h4>
			<p><strong>Location:</strong> <%= hall.location.name %></p>
			<p><strong>Size:</strong> <%= hall.rooms.length %> / <%= hall.size %></p>
			<p><strong>Units:</strong> <%= hall.units.length %> / <%= hall.unit_limit %></p>
			<p><%= link_to "View Hall", guild_hall_path(hall), method: :get %></p>
			<hr>
		<% end %>
		<p><%= link_to "Create New Hall", new_guild_hall_path, method: :get %></p>
	</div><!-- /Guild Halls -->
</div>