<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Unit Abilities</h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-6'>
	<% @abilities.each do |ability| %>
		<h4><%= ability.name %></h4>
		<p><strong>Experience:</strong> <%= ability.xp_cost %></p>
		<p><strong>Category:</strong> <%= ability.category %></p>
		<p><strong>AP Cost:</strong> <%= ability.ap_cost %> | 
		<strong>SP Cost:</strong> <%= ability.ap_cost %></p>
		<p><strong>Description:</strong> <%= ability.description %></p>
		
		<% if params[:unit_id] != nil %>
			<p><%= link_to "View Ability", unit_ability_path(ability, unit_id: @unit.id), method: :get %></p>
		<% else %>
			<p><%= link_to "View Ability", unit_ability_path(ability), method: :get %></p>
		<% end %>

		<hr>
	<% end %>
	</div>
</div>