<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Order Review</h1>
	</div>
</div>


<div class='row'>
	<div class='col-lg-12'><!-- Market Order -->
		<h3><%= @order.item.name %></h3><!-- Market Order -->
		<p><strong>Originator:</strong> <%= @order.hall_inventory.guild_hall.guild.name %></p>
		<p><strong>Location:</strong> <%= @order.hall_inventory.guild_hall.name %> - <%= @order.hall_inventory.guild_hall.location.name %></p>
		<p><strong>Type:</strong> <%= @order.item.category %></p>
		<p><strong>Description:</strong> <%= @order.item.description %></p>
		<hr>
		<p><strong>Base Value:</strong> <%= @order.item.value %></p>
		<p><strong>Price:</strong> <%= @order.price %></p>
		<p><strong>Available:</strong> <%= @order.amount %></p>
		<% if current_user.guild.id == @order.hall_inventory.guild_hall.guild.id %>
			<%= link_to 'Cancel Market Order', market_order_path, method: :delete %>
		<% else %>
			<%= render 'market_orders/purchase' %><!-- /Market Order -->
		<% end %>
	</div>
</div>
