<%= simple_form_for @unit do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :total_xp, collection: 1..@guild.total_rep %>
  <%= f.input :strength, collection: 1..20, input_html: {id: "strength"} %>
  <%= f.input :agility, collection: 1..20, input_html: {id: "agility"} %>
  <%= f.input :vitality, collection: 1..20, input_html: {id: "vitality"} %>
  <%= f.input :stamina, collection: 1..20, input_html: {id: "stamina"} %>
  <%= f.input :intelligence, collection: 1..20, input_html: {id: "intelligence"} %>
  <%= f.input :focus, collection: 1..20, input_html: {id: "focus"} %>
  <%= f.input :guild_hall_id, collection: @guild.guild_halls %>

  <p>Cost: <span class='unit-cost'>500</span></p>

  <%= f.button :submit %>
<% end %>

<%= render 'units/training_logic' %>