<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">View Unit</h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'><!-- Basics -->
		<h4><%= @unit.name %></h4>
		<p><strong>XP:</strong> <%= @unit.spent_xp %> / <%= @unit.total_xp %>
		 | <strong>HP:</strong> <%= @unit.current_hp %> / <%= @unit.max_hp %>
		 | <strong>SP:</strong> <%= @unit.current_sp %> / <%= @unit.max_sp %></p>
		<hr>
	</div><!-- /Basics -->
</div>

<div class='row'><!-- In Depth -->
	<div class='col-lg-3'><!-- Base Stats -->
		<h4>Base Stats</h4>
		<p><strong>strength:</strong> <%= @unit.strength %></p>
		<p><strong>Agility:</strong> <%= @unit.agility %></p>
		<p><strong>Vitality:</strong> <%= @unit.vitality %></p>
		<p><strong>Stamina:</strong> <%= @unit.stamina %></p>
		<p><strong>Intelligence:</strong> <%= @unit.intelligence %></p>
		<p><strong>Focus:</strong> <%= @unit.focus %></p>
	</div><!-- /Base Stats -->

	<div class='col-lg-3'><!-- Defenses -->
		<h4>Defenses</h4>
		<p><strong>Dodge:</strong> <%= @unit.dodge %></p>
		<p><strong>Resilience</strong> <%= @unit.resilience %></p>
		<p><strong>Resist:</strong> <%= @unit.resist %></p>
	</div><!-- /Defenses -->

	<div class='col-lg-3'><!-- Guild -->
		<h4>Guild</h4>
		<% if @unit.guild_hall_id == nil %>
			<p><strong>Guild:</strong> Free</p>
		<% else %>
			<p><strong>Guild:</strong> <%= @unit.guild_hall.guild.name %></p>
			<p><strong>Location:</strong> <%= @unit.guild_hall.name %> - <%= @unit.guild_hall.location %></p>
		<% end %>
			<p><strong>Activity:</strong> <%= @unit.activity.name %></p>
	</div><!-- /Guild -->

	<div class='col-lg-3'><!-- Financial -->
		<h4>Financial</h4>
		<p><strong>Hiring Cost:</strong> <%= @unit.hiring_cost %></p>
		<p><strong>Upkeep Cost:</strong> <%= @unit.upkeep_cost %></p>
	</div><!-- /Financial -->
</div><!-- /In Depth -->

<div class="row"><!-- Manage -->
	<div class="col-lg-12">
		<hr>
		<h4>Manage</h4>
		<p><%= if @free then link_to "Hire Unit", purchase_unit_path(@unit), method: :post else link_to "Release Unit", release_unit_path(@unit), method: :get end %></p>
	</div>
</div><!-- /Manage -->