<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'Guildlands (alpha)', root_path, method: :get, :class => 'navbar-brand' %>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">                
                <!-- /.dropdown -->
                <% if user_signed_in? %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks">
                        <% if current_user.guild.logs.length >= 1 %>
                            <li>
                                <%= link_to logs_path, method: :get do %>
                                    <div>
                                        <p>
                                            <strong><%= current_user.guild.logs[-1].message %></strong>
                                        </p>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                        <% if current_user.guild.logs.length >= 2 %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to logs_path, method: :get do %>
                                    <div>
                                        <p>
                                            <strong><%= current_user.guild.logs[-2].message %></strong>
                                        </p>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                        <% if current_user.guild.logs.length >= 3 %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to logs_path, method: :get do %>
                                    <div>
                                        <p>
                                            <strong><%= current_user.guild.logs[-3].message %></strong>
                                        </p>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                        <% if current_user.guild.logs.length >= 4 %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to logs_path, method: :get do %>
                                    <div>
                                        <p>
                                            <strong><%= current_user.guild.logs[-4].message %></strong>
                                        </p>
                                    </div>
                                <% end %>
                            </li>
                        <% end %>
                        </ul>
                    </li>
                </li>
                <% end %>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <% if user_signed_in? %>
                            <li>Logged in as <strong><%= current_user.username %></strong></li>
                            <li><%= link_to 'Edit profile', edit_user_registration_path, method: :get, :class => 'navbar-link' %></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                        <% else %>
                            <li><%= link_to "Sign up", new_user_registration_path, method: :get, :class => 'navbar-link'  %></li>
                            <li><%= link_to "Login", new_user_session_path, method: :get, :class => 'navbar-link'  %></li>
                        <% end %>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->


            <% if user_signed_in? %>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                        <!--
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </li>
                            -->
                            <!-- /input-group -->
                            <!-- Logs -->
                            <!--
                            <li>
                                <%= link_to logs_path(), method: :get do %>
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Logs
                                <% end %>
                            </li>
                            -->
                            <!-- /Logs -->

                            <li><!-- Overview -->
                                <%= link_to guild_path(current_user.guild.id), method: :get do %>
                                    <i class="fa fa-dashboard fa-fw"></i> Overview
                                <% end %>
                            </li><!-- /Overview -->
                            
                            <li><!-- Guild Halls -->
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Guild Halls<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <%= link_to "Your Guild Halls", guild_halls_path(guild_id: current_user.guild.id), method: :get %>
                                    </li>
                                    <li>
                                        <%= link_to "Available Guild Halls", guild_halls_path, method: :get %>
                                    </li>
                                    <li>
                                </ul>
                            </li><!-- /Guild Halls -->

                            <li><!-- Units -->
                                <a href="#"><i class="fa fa-table fa-fw"></i> Units<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <%= link_to "Your Units", units_path(guild_id: current_user.guild.id), method: :get %>
                                    </li>
                                    <li>
                                        <%= link_to "Available Units", units_path, method: :get %>
                                    </li>
                                    <li>
                                </ul>
                            </li><!-- /Units -->

                            <li><!-- Rooms -->
                                <%= link_to rooms_path, method: :get do %>
                                    <i class="fa fa-edit fa-fw"></i> Rooms
                                <% end %>
                            </li><!-- /Rooms -->

                            <li><!-- Market -->
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Market<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <%= link_to "Market", market_orders_path, method: :get %>
                                    </li>
                                    <li>
                                        <%= link_to "Your Market Orders", market_orders_path(guild_id: current_user.guild.id), method: :get %>
                                    </li>
                                </ul>
                            </li><!-- /Market -->

                            <li><!-- Abilities -->
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Abilities<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <%= link_to "Guild Abilities", guild_abilities_path, method: :get %>
                                    </li>
                                    <li>
                                        <%= link_to "Unit Abilities", unit_abilities_path, method: :get %>
                                    </li>
                                </ul>
                            </li><!-- /Abilities -->
                        </ul>
                    </div>
                <% end %>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>